@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

:root {
  --blueColor: #05386b;
  --greenColor: #58dd90;
  --lightgreencolor: #8de4af;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif !important;
  color: var(--blueColor) !important;
}
html {
  background: var(--greenColor);
}
.App {
  height: 100vh;
  width: 100%;
}
.MuiToolbar-regular {
  background-color: var(--greenColor);
  display: flex;
  justify-content: space-between;
}
.MuiButton-root {
  text-transform: capitalize !important;
}
.MuiButton-textPrimary {
  color: var(--blueColor) !important;
  font-weight: bold !important;
  font-size: 0.9375rem !important;
}
.MuiTypography-h1 {
  color: var(--blueColor);
  font-size: 2.125rem !important;
  font-weight: bold !important;
}
.MuiTypography-body1 {
  color: var(--blueColor);
  font-size: 1.25rem !important;
  font-weight: bold !important;
}
.MuiInput-root {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 15px;
  width: 100% !important;
  height: 30px;
  background: var(--lightgreencolor) !important;
  /* border: none !important; */
}
.MuiInput-root::placeholder {
  font-weight: 700 !important;
}
.MuiInputBase-root {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 100%;
}
.MuiInputBase-root::placeholder {
  font-weight: 700 !important;
  font-size: xx-large !important;
}
.body__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search__button {
  width: 16px !important;
  height: 16px !important;
  background: transparent !important;
}
.map__section {
  margin: 1rem;
  padding: 1rem;
}
.map__section--frame {
  padding-top: 1rem;
}
.map__section--mapouter {
  position: relative;
  text-align: right;
  height: 340px;
  width: 870px;
}
.map__section--gmap_canvas {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  overflow: hidden;
  background: none !important;
  border-radius: 30px !important;
  height: 340px;
  width: 870px;
}
